.manage-users-card {
  padding: 20px;
}

.manage-users-container {
  margin-top: 20px;
  border-radius: 30px;
}

.header {
  margin-bottom: 20px;
}

.header-line {
  margin-top: 10px;
  height: 2px;
  background-color: #f5f5f5;
}

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.table-body-wrapper {
  max-height: 400px;
  overflow-y: auto;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.user-table tr:hover {
  background-color: #f9f9f9;
}

.edit-mode input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background-color: #2563eb;
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

button:hover {
  background-color: #081b44;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.save-button,
.cancel-button,
.edit-button,
.delete-button {
  width: 100%;
  margin: 4px 0;
}

.schedule-btn {
  background-color: #2563eb;
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.schedule-btn:hover {
  background-color: #081b44;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.tableCell {
  gap: 30px;
}

.buttun {
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
