.map-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 24px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.btn {
  padding: 10px 15px;
  background-color: #0078d4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #005bb5;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  width: 150px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* תואם לגובה המפה */
  background-color: #f9f9f9;
  border-radius: 10px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #0078d4;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
