.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  padding-top: 30rem;
}

.manageUsers,
.manageStations {
  flex: 1;
  padding: 15px;
  width: 100%;
}
