* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9fafb;
  overflow: hidden;
}

.container {
  padding: 14px 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.general-info {
  padding-top: 20px;
  width: 100%;
  height: 100%;
}

.charge-info {
  padding-top: 40px;
}

.car-model-section {
  padding-top: 40px;
  background-color: aliceblue;
}

.car-model-section h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

.input-group {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.input-group input {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: calc(33.33% - 10px);
}

.input-group input:focus {
  border-color: #007bff;
  outline: none;
}

/* כפתור לשליחת המידע */
button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}

button:disabled {
  background-color: #b8d0da;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}
