.table-container {
  margin: 0 auto;
  overflow: auto;
  max-height: 400px;
  position: relative;
}

.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.table-title {
  text-align: center;
  margin: 0;
  padding: 15px 0;
  font-weight: bolder;
  color: #000000;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

.table-header-row {
  background-color: #f4f6f8;
  position: sticky;
  top: 53px;
  z-index: 1;
}

.table-header-cell {
  font-weight: bold;
  color: black !important;
  background-color: #f4f6f8;
}

.table-cell {
  text-align: center;
  padding: 12px;
}

.table-row {
  transition: background-color 0.2s ease;
}

.table-row:hover {
  background-color: #f9fafb;
}

.schedule-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.schedule-btn.edit-btn {
  background-color: #000000;
  color: #fff;
}

.schedule-btn.edit-btn:hover {
  background-color: #333333;
  transform: scale(1.05);
}

.schedule-btn.delete-btn {
  background-color: #be0b1d;
  color: #fff;
}

.schedule-btn.delete-btn:hover {
  background-color: #9c0917;
  transform: scale(1.05);
}

.schedule-btn.save-btn {
  background-color: #000000;
  color: #fff;
}

.schedule-btn.save-btn:hover {
  background-color: #333333;
  transform: scale(1.05);
}

.schedule-btn.cancel-btn {
  background-color: #be0b1d;
  color: #fff;
}

.schedule-btn.cancel-btn:hover {
  background-color: #9c0917;
  transform: scale(1.05);
}

.MuiButton-root:hover {
  background-color: inherit !important;
}

.file-upload-input {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .table-container {
    overflow-x: auto;
  }

  .table-cell,
  .table-header-cell {
    font-size: 12px;
    padding: 8px;
  }

  .schedule-btn {
    padding: 6px 10px;
    font-size: 12px;
  }
}
