.charging-form h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}
.charging-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: #000000;
}
.propertis {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
}
.title1 {
  font-size: medium;
  font-weight: bold;
  text-align: center;
  color: #000000;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8);
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s;
}

.input-group input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.add-btn {
  width: 150px;
  height: 37px;
  padding: 1rem;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn:hover {
  background-color: #000000;
}
form {
  display: flex;
  width: 409px;
  padding-bottom: var(--28, 19px);
  flex-direction: column;
  align-items: center;
  gap: var(--48, 16px);
}
.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  border: 2px dashed #04203d;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.image-upload:hover {
  background-color: #e6f2ff;
  border-color: #04203d;
}

.image-upload input[type="file"] {
  display: none;
}

.image-upload label {
  display: inline-block;
  padding: 10px 20px;
  /* background-color: #007bff; */
  color: black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

.image-upload p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.image-preview {
  margin-top: 10px;
  max-width: 50%;
  max-height: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.location-group {
  position: relative;
}

.location-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 8px;
  z-index: 1000;
}

.use-location-option {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.use-location-option:hover {
  background-color: #000000;
}
