.booking-form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
  width: 100%;
  height: 5px;
  box-sizing: border-box;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.booking-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking-form-title {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.form-label {
  display: block;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
  font-size: 16px;
}

/* Input Fields Styling */
.form-input,
.form-textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #4caf50;
}

.form-textarea {
  min-height: 50px;
  resize: vertical;
}

.submit-button {
  width: 182px;
  padding: 12px;
  background-color: #066c91;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #45a049;
}
